# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore .env files (for environment variables)
.env

# Ignore build directories
build/
dist/

# Ignore IDE/editor specific files
.vscode/
.idea/
